.checkbox {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.checkbox__tag {
  position: relative;
  display: inline-flex;
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  margin-right: 23px;
  border: 2px solid $text-color;

  &::after {
    position: absolute;
    display: none;
    content: "";
    left: 5px;
    top: 8px;
    width: 24px;
    height: 16px;
    background-image: url(../../img/Tick.svg);
  }
}

.checkbox__input:checked + .checkbox__tag::after {
  display: block;
}
