.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 50px;
  }

  @media (min-width: $desktop-width) {
    width: 1150px;
    padding: 0 50px;
  }
}

.container__left {
  @media (min-width: $desktop-width) {
    padding-left: 174px;
  }
}

.container__right {
  @media (min-width: $desktop-width) {
    padding-right: 174px;
  }
}
