.copyright {
  display: flex;
  align-items: center;
  padding-top: 22px;
  margin-bottom: 22px;
  justify-content: center;
}

.copyright__text {
  color: $black;
  font-weight: 700;
  font-size: 19px;
  line-height: 18px;
  margin-right: 27px;
}

.copyright__link {
  display: block;
  width: 27px;
  height: 34px;
  background-color: $black;
}
