.form__title {
  font-size: 17px;
  line-height: 16px;
  font-weight: 700;
  color: $accent-color;
  text-transform: uppercase;
}

.form__item {
  color: $black;
  font-size: 17px;
  line-height: 18px;
  font-weight: 700;
  list-style: none;
}

.form__legend {
  font-size: 14px;
  line-height: 16px;
}
