.page {
  height: 100%;
}

.page__body {
  font-family: "Open Sans", "Arial", sans-serif;
  color: $text-color;
  font-size: 15px;
  font-weight: 400;
  line-height: 30px;
  font-style: normal;
  background-color: $white;
}
