.site-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    order: 1;

    @media (min-width: $desktop-width) {
      order: -1;
    }
  }
}

.site-list__item {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $gallery;
    padding-left: 36px;
  }

  @media (min-width: $tablet-width) {
    margin-right: 18px;
  }
}
