.social {
  list-style: none;
}

.social__item {
  padding-right: 20px;
  margin-right: 20px;
}

.social__link {
  &--instagram {
    display: block;
    width: 22px;
    height: 21px;
    background-color: $black;
  }

  &--facebook {
    display: block;
    width: 15px;
    height: 29px;
    background-color: $downy;
  }

  &--twitter {
    display: block;
    width: 24px;
    height: 20px;
    background-color: $thunder;
  }
}
