.special-list {
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 20px;
  flex-grow: 1;

  @media (max-width: $mobile-width-only) {
    display: none;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: flex;
  }
}

.special-list__item {
  padding-right: 45px;
}
