.user-list {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

.user-list__item {
  display: block;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  padding-top: 28px;
  padding-bottom: 26px;

  @media (max-width: $mobile-width-only) {
    border-top: 1px solid $gallery;
    padding-left: 36px;
  }
}

.user-list__link {
  &--search {
    @media (min-width: $tablet-width) {
      padding-right: 31px;
      padding-left: 31px;
    }
  }
}
